<!-- <script src="//d3js.org/d3.v3.min.js"></script>
<script src="http://numericjs.com/lib/numeric-1.2.6.min.js"></script> -->

<!-- <div class="row">
        <div class="col-sm-4">
            <h3>Correlation Matrix</h3>
            <pre id="covar"></pre>

            <h3>Eigenvectors</h3>
            <pre id="eigvects"></pre>

            <h3>Eigenvalues</h3>
            <pre id="eigvals"></pre>

            <h3>Top Selected Eigenvalues</h3>
            <pre id="select_eigvals"></pre>

            <h3>Top Selected Eigenvectors</h3>
            <pre id="select_eigvects"></pre>
        </div>

        <div class="col-sm-8">
            <div id="vis" class="row"></div>
            <form class="">
                <input type="radio" name="ax" id="ax-both"/>
                <label for="ax-both">Both eigenvectors</label>
                <input type="radio" name="ax" id="ax-orig"/>
                <label for="ax-orig">Original vectors</label>
                <br/>
                <input type="radio" name="ax" id="ax-first"/>
                <label for="ax-first">First eigenvectors</label>
                <input type="radio" name="ax" id="ax-second"/>
                <label for="ax-second">Second eigenvectors</label>
            </form>
        </div>

    </div>
  </div> -->