<div class="form-group" id="var_select" style="max-width: 300px;">
  <select class="form-control variable-select" id="variable-select">
	  <option value="" selected disabled>Select {{ axis }} variable</option>
	  <option value="entities.hashtags">entities.hashtags.text <!-- (Top Hashtags) --></option>
	  <option value="entities.user_mentions">entities.user_mentions.screen_name <!-- (Top User Mentions) --></option>
	  <!-- <option value="entities.emojis">entities.emojis (Top Emojis)</option> -->
	  <option value="retweeted_status.user.screen_name">retweeted_status.user.screen_name <!-- (Top Retweeted Users) --></option>
	  <option value="es_is_retweet_status">es_is_retweet_status <!-- (Retweets vs Non-Retweets) --></option>
    <option value="user.followers_count">user.followers_count<!--  (User # Followers Distribution) --> [bin]</option>
    <option value="user.statuses_count">user.statuses_count<!--  (User # Statuses Distribution) --> [bin]</option>
    <option value="user.favourites_count">user.favourites_count<!--  (User # Favourites Distribution) --> [bin]</option>
    <option value="user.friends_count">user.friends_count<!--  (User # Friends Distribution) --> [bin]</option>
    <option value="retweeted_status.user.followers_count">retweeted_status.user.followers_count<!--  (User # Followers Distribution for Retweeted Statuses) --> [bin]</option>
    <option value="retweeted_status.user.statuses_count">retweeted_status.user.statuses_count <!-- (User # Statuses Distribution for Retweeted Statuses) --> [bin]</option>
	</select>
</div>