<div class="form-group" id="var_select" style="max-width: 300px;">
  <select class="form-control variable-select" id="variable-select">
	  <option value="" selected disabled>Select {{ axis }} variable</option>
	  <option value="entities.hashtags">Top Hashtags (entities.hashtags.text)</option>
	  <option value="entities.user_mentions">Top User Mentions (entities.user_mentions.screen_name)</option>
	  <!-- <option value="entities.emojis">entities.emojis (Top Emojis)</option> -->
	  <option value="retweeted_status.user.screen_name">Top Retweeted Users (retweeted_status.user.screen_name</option>
	  <option value="es_is_retweet_status">Retweets vs Non-Retweets (es_is_retweet_status)</option>
    <option value="user.followers_count">User Followers [bin] (user.followers_count)</option>
    <option value="user.statuses_count">User Statuses [bin] (user.statuses_count)</option>
    <option value="user.favourites_count">User Favorites [bin] (user.favourites_count)</option>
    <option value="user.friends_count">User Friends [bin] (user.friends_count)</option>
    <option value="retweeted_status.user.followers_count">Retweeted User Followers [bin] (retweeted_status.user.followers_count)</option>
    <option value="retweeted_status.user.statuses_count">Retweeted User Statuses [bin] (retweeted_status.user.statuses_count)</option>
	</select>
</div>