<div class="form-group graph-select" id="graph_select_dropdown" style="max-width: 300px;">
  <select class="form-control" id="graph-selection" onchange="location = this.options[this.selectedIndex].value;">
	  <option value="" selected disabled>{% if graph_type %} {{ graph_type_name }} {% else %} Select Graph Type {% endif %}</option>
	  <option value="{{ url_for('serve_graph', graph_type='bar_chart_graph') }}">Frequency Bar Charts</option>
	  <option value="{{ url_for('serve_graph', graph_type='bivariate_scatterplot_graph') }}">Bivariate Scatterplot</option>
	  <option value="{{ url_for('serve_graph', graph_type='correlation_matrix_graph') }}">Correlation Matrix</option>
	  <option value="{{ url_for('serve_graph', graph_type='scatterplot_matrix_graph') }}">Scatterplot Matrix</option>
	  <option value="{{ url_for('serve_graph', graph_type='parallel_coordinates_graph') }}">Parallel Coordinates</option>
	  <!-- <option value="{{ url_for('serve_graph', graph_type='pca_plot_graph') }}">PCA Plot</option>
	  <option value="{{ url_for('serve_graph', graph_type='mds_data_display_graph') }}">MDS Data Display</option>
	  <option value="{{ url_for('serve_graph', graph_type='mds_attribute_display_graph') }}">MDS Attribute Display</option> -->
	  <option value="{{ url_for('serve_graph', graph_type='dashboard') }}">Dashboard</option>
	</select>
</div>