<html>
	<head>
		<title>trumpviz</title>
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<script src="static/jquery-3.1.1.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		
	</head>
	<style>
		.bar {
		  fill: #2EA1D9;
		}
		.bar:hover {
		  fill: #0077C0;
		}
		.axis-x path {
		  display: none;
		}
		.d3-tip {
		  line-height: 1;
		  font-weight: bold;
		  padding: 12px;
		  background: rgba(0, 0, 0, 0.8);
		  color: #fff;
		  border-radius: 2px;
		}
		/* Tooltip Triangle */
		.d3-tip:after {
		  box-sizing: border-box;
		  display: inline;
		  font-size: 10px;
		  width: 100%;
		  line-height: 1;
		  color: rgba(0, 0, 0, 0.8);
		  content: "\25BC";
		  position: absolute;
		  text-align: center;
		}
		/* Northward Tooltips */
		.d3-tip.n:after {
		  margin: -1px 0 0 0;
		  top: 100%;
		  left: 0;
		}
	</style>

	<body>
		<div class="container">	
			<div style="overflow: auto;">
				<h1>500 Trump Tweets 🤔</h1>
				<div class="form-group" style="max-width: 300px;">
				  <select class="form-control" id="variable-select">
					  <option value="" selected disabled>Select Variable</option>
					  <option value="entities.hashtags">entities.hashtags.text (Top Hashtags)</option>
					  <option value="entities.user_mentions">entities.user_mentions.screen_name (Top User Mentions)</option>
					  <!-- <option value="entities.emojis">entities.emojis (Top Emojis)</option> -->
					  <option value="retweeted_status.user.screen_name">retweeted_status.user.screen_name (Top Retweeted Users)</option>
					  <option value="es_is_retweet_status">es_is_retweet_status (Retweets vs Non-Retweets)</option>
				    <option value="user.followers_count">user.followers_count (User # Followers Distribution) [bin]</option>
				    <option value="user.statuses_count">user.statuses_count (User # Statuses Distribution) [bin]</option>
				    <option value="user.favourites_count">user.favourites_count (User # Favourites Distribution) [bin]</option>
				    <option value="user.friends_count">user.friends_count (User # Friends Distribution) [bin]</option>
				    <option value="retweeted_status.user.followers_count">retweeted_status.user.followers_count (User # Followers Distribution for Retweeted Statuses) [bin]</option>
				    <option value="retweeted_status.user.statuses_count">retweeted_status.user.statuses_count (User # Statuses Distribution for Retweeted Statuses) [bin]</option>
					</select>
					
				</div>
				<div class="form-group" style="max-width: 300px;">
					<input type="number" class="form-control" placeholder="Enter Bin Size" id="bin-size-select">
				</div>
			</div>
			
			<svg width="1000" height="500"></svg>
		</div>
	</body>

	<script src="static/d3/d3.min.js"></script>
	<script src="static/d3-tip/index.js"></script>
	<script>
		var X_AXIS_TICKS = 15
		var X_AXIS_TICKS_ORDINAL = 15

		var svg = d3.select("svg"),
		margin = {top: 50, right: 20, bottom: 100, left: 40},
		width = +svg.attr("width") - margin.left - margin.right,
		height = +svg.attr("height") - margin.top - margin.bottom;

		//Init Tooltip
		tip = d3.tip()
		.offset([-10, 0])
		.attr('class', 'd3-tip').html(function(d) { return d.frequency; });
		//Activate Tooltip
		svg.call(tip)

		var g = svg.append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


		$('select').on('change', function() {
			selected_var = $('#variable-select').find('option:selected').val();
			is_bin_var = check_is_bin_var(selected_var)
			
			if (is_bin_var) {
				selected_bin_size = $('#bin-size-select').val()
				//Check that bin size is an integer
				if (selected_bin_size > 0 && selected_bin_size % 1 === 0) {
					g.selectAll("*").remove();
			  	renderVisuals()
				}
			}
			else {
				g.selectAll("*").remove();
		  	renderVisuals()
			}
			
		});
		$('#bin-size-select').on('keyup', function (e) {
		    if (e.keyCode == 13) {
		    	selected_var = $('#variable-select').find('option:selected').val();
		    	selected_bin_size = $('#bin-size-select').val()
		    	if (selected_var !== "" && selected_bin_size > 0 && selected_bin_size % 1 === 0) {
		    		g.selectAll("*").remove();
		        renderVisuals()
		      }
		    }
		});

		function renderVisuals () {
					$.getJSON("static/500_tweets_sample_trump_formatted_augmented.json", function(data) {
						// d['user/statuses_count'] = +d['user/statuses_count']
						// console.log(data)

						tweets = data

						//Get selected variable & bin value
					  selected_bin_size = $('#bin-size-select').val()
					  selected_var = $('#variable-select').find('option:selected').val();
					  is_bin_var = check_is_bin_var(selected_var)

						//Calculate frequencies for selected variable
						var freqs_array
						if (is_bin_var) {
							freqs_array = generate_bin_freqs_array(tweets, selected_var, selected_bin_size)
						}
						else {
							freqs_array = generate_term_freqs_array(tweets, selected_var)
						}
				
					  //Get selected variable & bin value
					  selected_bin_size = $('#bin-size-select').val()
					  selected_var = $('#variable-select').find('option:selected').val();
					  is_bin_var = check_is_bin_var(selected_var)

					  var x
					   //For Numerical Data, Use scaleLinear & passed in bin size
					  if (is_bin_var) {
					  	x = d3.scaleLinear().rangeRound([0, width])
					  	x.domain([0, selected_bin_size * X_AXIS_TICKS]);
					  }
					  //For text, ignore passed in bin size & use scaleBand w/top 10 occurences as domain
					  else {
					  	freqs_array.sort(compare_freqs)
					  	bin_terms = []

					  	for (i = 0; i < freqs_array.length; i++) {
					  		bin_terms.push(freqs_array[i].term)
					  	}

					  	// console.log(bin_terms)

					  	bin_terms = bin_terms.slice(0,X_AXIS_TICKS_ORDINAL)
					  	freqs_array = freqs_array.slice(0,X_AXIS_TICKS_ORDINAL)

					  	x = d3.scaleBand().rangeRound([0, width]).padding(1)
					  	x.domain(bin_terms);
					  }

					  max_frequency = Math.max.apply(Math,freqs_array.map(function(o){return o.frequency;}))

					  var y = d3.scaleLinear().rangeRound([height, 0]);
					  y.domain([0, max_frequency]).nice();
					  
					  // console.log(d3.max(data, function(d) { return d['user/statuses_count']; }))

					  x_axis = g.append("g")
					      .attr("class", "axis axis-x")
					      .attr("transform", "translate(0," + height + ")")
					      .call(d3.axisBottom(x).ticks(X_AXIS_TICKS));

        		if (!is_bin_var) {
        			x_axis.selectAll("text")
					      		.style('text-anchor', 'start')
        						.attr('transform', 'rotate(45 -10 10)');
        		}
        		
					  g.append("g")
					      .attr("class", "axis axis-y")
					      .call(d3.axisLeft(y).ticks(10))
					    .append("text")
					      .attr("transform", "rotate(-90)")
					      .attr("y", 6)
					      .attr("dy", "0.71em")
					      .attr("text-anchor", "end")
					      .text("Frequency");

					  g.selectAll(".bar")
					    .data(freqs_array)
					    .enter().append("rect")
					      .attr("class", "bar")
					      .attr("x", function(d) { return x(d.term) - 25; })
					      .attr("y", function(d) { return y(d.frequency); })
					      .attr("width", 50)
					      .attr("height", function(d) { return height - y(d.frequency); })
					      .on('mouseover', function(d) {
					      	tip.show(d)
					        d3.select(this).transition()
					          .duration(200)
					          .attr("width", 60)
					          .attr("transform", "translate(" + -(60 - 50)/2 + ",0)")
					        
					      })
			  				.on('mouseout', function(d) {
			  					tip.hide(d)
					        d3.select(this).transition()
					          .duration(200)
					          .attr("width", 50)
					          .attr("transform", "translate(0,0)")
					        
					      });
					});
		}

		function check_is_bin_var(selected_var) {
			if (selected_var === "entities.hashtags" || selected_var === "entities.user_mentions" || selected_var === "entities.emojis" || selected_var === "retweeted_status.user.screen_name" || selected_var === "es_is_retweet_status") {
				return false
			}
			else {
				return true
			}
		}

		//For Numerical fields
		function generate_bin_freqs_array(data, selected_var, selected_bin_size) {
			var freqs_array = []
			for (i = 1; i <= X_AXIS_TICKS; i++) {
				freqs_array.push({term:selected_bin_size * i, frequency:0})
			}

			// console.log(freqs_array)

			for (i = 0; i < data.length; i++) {
				var tweet = data[i]
				//Get value of selected var for each tweet if it exists
				var value
				try {
					value = selected_var.split('.').reduce((t,x)=>t[x], tweet)
				} catch (err) {}

				if (value) {
					bin = Math.floor(value/selected_bin_size)

					// console.log(bin)
					// console.log(freqs_array[Math.ceil(value/selected_bin_size)])
					// console.log(selected_var.split('.').reduce((t,x)=>t[x], tweet))

					if (bin <= X_AXIS_TICKS) {
						// console.log(bin)
						//Catch edge case for bin === X_AXIS_TICKS
						bin = Math.min(bin,X_AXIS_TICKS - 1)
						freqs_array[bin].frequency++
					}
				}
			}
			// console.log(freqs_array)

			return freqs_array
		}

		//For Other fields (e.g text & booleans)
		function generate_term_freqs_array(data, selected_var) {
			var freqs_array = []
			var bins_dict = {}

			
			for (var i = 0; i < data.length; i++) {
				var tweet = data[i]
				//Get value of selected var for each tweet if it exists
				if (selected_var === "entities.hashtags" || selected_var === "entities.user_mentions" || selected_var === "entities.emojis") {
					var entities  
					try {
						entities = selected_var.split('.').reduce((t,x)=>t[x], tweet)
					} catch (err) {}

					console.log(entities)
					
					for (var x = 0; x < entities.length; x++) {
						var value
						if (selected_var === "entities.hashtags") {
							value = entities[x]["text"]
						}
						else if (selected_var === "entities.user_mentions") {
							console.log(entities[x]["screen_name"])
							value = entities[x]["screen_name"]
						}
						else if (selected_var === "entities.emojis") {
							value = entities[x]
						}

						if (!(value in bins_dict)) {
							bins_dict[value] = 1
						}
						else {
							bins_dict[value]++
						}
					}
				}
				else {
					var value
					try {
						value = selected_var.split('.').reduce((t,x)=>t[x], tweet)
					} catch (err) {}

					if (!(value in bins_dict)) {
						bins_dict[value] = 1
					}
					else {
						bins_dict[value]++
					}
				}
			}

			// console.log(bins_dict)

			for (var bin in bins_dict) {
				freq = bins_dict[bin]
				freqs_array.push({term:bin, frequency:freq})
			}

			// console.log(freqs_array)

			return freqs_array
		
			// for (i = 1; i <= X_AXIS_TICKS; i++) {
			// 	freqs_array.push({term:selected_bin_size * i, frequency:0})
			// }
		}

		function compare_freqs(a,b) {
			if (a.frequency < b.frequency)
		    return 1;
		  if (a.frequency > b.frequency)
		    return -1;
		  return 0;
		}
		
	</script>
</html>